<% @title = 'Steam Price API' %>

<div class="container">

  <div class="card text-white bg-success mb-3 mt-3">
    <div class="card-body">
      <h4 class="card-title">Привет!</h4>
      <p class="card-text">
        Ты попал на страницу Steam Price API от команды Stalytics!
        Здесь можно ознакомиться с документацией по доступным запросам к API.
        Через представленые методы ты можешь получить цены проданных предметов из CS:GO,
        а также их количество на опеределенный этап времени. Приступим?
      </p>
    </div>
  </div>

  <div class="card bg-light mb-3">
    <div class="card-header"><span class="text-muted">ISteamItems_730/</span>CurrentPrice <span class="badge badge-warning">v1</span> <a href="/ISteamItems_730/CurrentPrice/v1/Huntsman%20Case%20Key" target="_blank"><span class="badge badge-primary">execute</span></a></div>
    <div class="card-body">
      <p class="card-text">Возвращает цену запрошенного предмета</p>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Параметр</th>
          <th scope="col">Тип</th>
          <th scope="col">Обязательный</th>
          <th scope="col">Описание</th>
          <th scope="col">По умолчанию</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>market_hash_name</td>
          <td>String</td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td>Имя предмета</td>
          <td></td>
        </tr>
        <tr>
          <td>currency</td>
          <td>String</td>
          <td></td>
          <td>Курс</td>
          <td>RUB</td>
        </tr>
        <tr>
          <td>date</td>
          <td>timestamp</td>
          <td></td>
          <td>Дата</td>
          <td><%= Time.now.strftime("%Y-%m-%d") %></td>
        </tr>
        </tbody>
      </table>

      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">arrow_upward</i>Запрос</div>
          <div class="collapsible-body">
            <pre class="language-url">
              <code>
                <%= root_url + 'ISteamItems_730/CurrentPrice/v1/Huntsman%20Case%20Key' %>
              </code>
            </pre>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">arrow_downward</i>Ответ</div>
          <div class="collapsible-body">
            <pre class="language-javascript">
              <code>
                {
                    "success": true,
                    "data":
                    {
                        "currency": "RUB",
                        "amount": 159.3,
                        "volume": 140,
                        "date": "2017-11-19T10:32:19.000Z"
                    }
                }
              </code>
            </pre>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <div class="card bg-light mb-3">
    <div class="card-header"><span class="text-muted">ISteamItems_730/</span>AveragePrice <span class="badge badge-warning">v1</span> <a href="/ISteamItems_730/AveragePrice/v1/Huntsman%20Case%20Key" target="_blank"><span class="badge badge-primary">execute</span></a></div>
    <div class="card-body">
      <p class="card-text">Возвращает среднюю цену запрошенного предмета</p>

      <table class="table">
        <thead>
        <tr>
          <th scope="col">Параметр</th>
          <th scope="col">Тип</th>
          <th scope="col">Обязательный</th>
          <th scope="col">Описание</th>
          <th scope="col">По умолчанию</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>market_hash_name</td>
          <td>String</td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td>Имя предмета</td>
          <td></td>
        </tr>
        <tr>
          <td>currency</td>
          <td>String</td>
          <td></td>
          <td>Курс</td>
          <td>RUB</td>
        </tr>
        <tr>
          <td>period</td>
          <td>Integer</td>
          <td></td>
          <td>Последние N дней</td>
          <td>7</td>
        </tr>
        </tbody>
      </table>

      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">arrow_upward</i>Запрос</div>
          <div class="collapsible-body">
            <pre class="language-url">
              <code>
                <%= root_url + 'ISteamItems_730/AveragePrice/v1/Huntsman%20Case%20Key' %>
              </code>
            </pre>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">arrow_downward</i>Ответ</div>
          <div class="collapsible-body">
            <pre class="language-javascript">
              <code>
                {
                    "success":true,
                    "data":
                    {
                        "market_hash_name": "Huntsman Case Key",
                        "currency": "RUB",
                        "amount": 159.3,
                        "date_f": "2017-11-13 00:00:00",
                        "date_t": "2017-11-20 23:59:59"
                    }
                }
              </code>
            </pre>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <div class="card bg-light mb-3">
    <div class="card-header"><span class="text-muted">ISteamItems_730/</span>GetItemsList <span class="badge badge-warning">v1</span> <a href="/ISteamItems_730/GetItemsList/v1" target="_blank"><span class="badge badge-primary">execute</span></a></div>
    <div class="card-body">
      <p class="card-text">Возвращает список предметов в БД</p>

      <table class="table">
        <thead>
        <tr>
          <th scope="col">Параметр</th>
          <th scope="col">Тип</th>
          <th scope="col">Обязательный</th>
          <th scope="col">Описание</th>
          <th scope="col">По умолчанию</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>page</td>
          <td>Integer</td>
          <td></td>
          <td>Страница</td>
          <td>1</td>
        </tr>
        <tr>
          <td>per_page</td>
          <td>Integer</td>
          <td></td>
          <td>Кол-во предметов на странице</td>
          <td>100</td>
        </tr>
        </tbody>
      </table>


      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">arrow_upward</i>Запрос</div>
          <div class="collapsible-body">
            <pre class="language-url">
              <code>
                <%= root_url + 'ISteamItems_730/GetItemsList/v1' %>
              </code>
            </pre>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">arrow_downward</i>Ответ</div>
          <div class="collapsible-body">
            <pre class="language-javascript">
              <code>
                {
                    "success": true,
                    "data": {
                        "total": 8188,
                        "per_page": 10,
                        "current_page": 50,
                        "last_page": 819,
                        "items": [
                            {
                                "market_hash_name": "SSG 08 | Blood in the Water (Minimal Wear)",
                                "amount": 855.98,
                                "currency": "RUB"
                            },
                            {
                                "market_hash_name": "Desert Eagle | Conspiracy (Minimal Wear)",
                                "amount": 128.69,
                                "currency": "RUB"
                            },
                            {
                                "market_hash_name": "★ M9 Bayonet | Fade (Factory New)",
                                "amount": 18136.49,
                                "currency": "RUB"
                            },
                            ...
                        ]
                    }
                }
              </code>
            </pre>
          </div>
        </li>
      </ul>

    </div>
  </div>

</div>

